
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 1440px;
  margin: 0 auto;
}

.header{
  width: 100%;
  height: 65px;
  border-bottom: 2px solid black;
  background-color: #FBFBFB;
}


.accountBalance{
  width: 300px;
  height: 100%;
  margin-left: auto;
  border-left: 2px solid #B59999;
}

.balText{
  width: 222px;
  height: 20px;
  padding: 25px 0 0 15px;
}

.hero-section{
  width: 100%;
  height: 350px;
  border-bottom: 2px solid black;
}


.services-list{
  width: 100%;
  height: 700px;
  border-bottom: 2px solid black;
}

.service-card{
  height: 450px;
  width: 350px;
  background-color: aqua;
  border-radius: 10px;
}

.card-container{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.footer{
  width: 100%;
  height: 150px;

  background-color: black;
}